In [17]:
import pandas as pd
from datetime import datetime

In [91]:
station_list = pd.read_csv('station_list.csv')
# make station_list["ts_id"] integer
station_list["ts_id"] = station_list["ts_id"].astype("Int64")
station_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_name  12 non-null     object
 1   station_no    12 non-null     object
 2   ts_id         12 non-null     Int64
dtypes: Int64(1), object(2)
memory usage: 432.0+ bytes

In [92]:
today = datetime.today().strftime('%Y-%m-%d')
three_months_ago = (datetime.today() - pd.DateOffset(months=3)).strftime('%Y-%m-%d')
print(today, three_months_ago)

2025-10-07 2025-07-07

In [ ]:
most_recent_dates_list = []

for ts_id in station_list['ts_id']:
    url_csv = (
        f"http://waterdata.capitolregionwd.org/KiWIS/KiWIS?"
        f"service=kisters&type=queryServices&request=getTimeseriesValues&"
        f"datasource=0&format=csv&ts_id={ts_id}&from={three_months_ago}&to={today}"
    )
    try:
        df = pd.read_csv(url_csv, sep=';', skiprows=2, header=0)
        df.rename(columns={'#Timestamp': 'Date'}, inplace=True)
        most_recent_date = df["Date"].max()
        station_name = station_list[station_list["ts_id"] == ts_id]["station_name"].iloc[0]
    except:
        print(f"Error reading CSV for ts_id: {ts_id}")
        continue
    most_recent_dates_list.append({"Station Name": station_name, "Date": most_recent_date})
most_recent_dates_df = pd.DataFrame(most_recent_dates_list)
most_recent_dates_df["Date"] = pd.to_datetime(most_recent_dates_df["Date"]).dt.tz_convert(None)
most_recent_dates_df

                Station Name                Date
0           East Kittsondale 2025-10-07 11:30:00
1          Villa Park Outlet 2025-10-07 11:30:00
2    Willow Reserve - Outlet 2025-10-06 11:24:00
3                 AHUG Inlet 2025-10-07 11:15:00
4         CRWD Aldine Outlet 2025-10-07 11:15:00
5              B-Dale Outlet 2025-10-07 11:30:00
6            Como 3 | Como D 2025-09-22 13:45:00
7           Como 7 | Como B5 2025-10-07 11:15:00
8   Como B5 Outlet | Como B5 2025-10-07 11:15:00
9          Upper Villa Inlet 2025-09-08 13:00:00
10         Villa Park Outlet 2025-10-07 11:30:00
11    Willow Reserve - Inlet 2025-09-22 14:30:00

In [39]:
print(station_list[station_list["ts_id"] == ts_id]["station_name"].iloc[0])

Willow Reserve - Outlet